@import "../../styles/theme.module";

.profile-section {
  height: max-content;
  display: grid;
  grid-template-rows: 25px 25px;
  grid-column-gap: 10px;
  grid-template-columns: 50px 1fr auto;
  grid-template-areas:
    "avatar name settings"
    "avatar exit settings"
  ;

  .avatar {
    grid-area: avatar;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: name;
    font-size: 15px;
    font-weight: 700;
  }

  .exit {
    width: max-content;
    grid-area: exit;
    font-weight: 300;
    cursor: pointer;
  }

  .settings {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: settings;
  }
}