@use "sass:color";
@import "./../../../styles/theme.module.scss";

.hover-selected {
  background-color: color.adjust($primary-color, $alpha: -0.8);
  color: $primary-color;

  .icon {
    background-color: $primary-color;
  }
}

.menu-item-component {
  font-weight: 500;
  text-align: start;
  display: flex;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-size: 12px;

  &:hover {
    @extend .hover-selected;
  }

  &-selected {
    @extend .menu-item-component;
    @extend .hover-selected;
  }

  .title {
    text-align: start;
    display: flex;
    align-items: center;
  }
}