.organization_profile_component {

  .header {
    $avatar-height: 100px;

    .avatar {
      height: $avatar-height;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        max-width: 100%;
        transform: translateY(calc(-50% + $avatar-height/2));
      }

      &:hover>.hide {
        position: absolute;
        cursor: pointer;
        right: 5px;
        top: 5px;
      }

    }

    .name {
      font-size: 15px;
      font-weight: 700;
      padding: 10px;
      padding-bottom: 0;
    }

    .role {
      position: absolute;
      font-family: "Inter-ExtraLight";
      grid-area: role;
    }

  }

  @mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
  }

  .content {
    height: auto;
  }

  .content.off {
    height: 10px;
  }


  div {
    @include transition(all 300ms);
  }

}