@import "../../styles/theme.module";

.event-select-component {
  border-radius: 5px 5px 0 0;
  background-color: $primary-color;
  display: flex;
  padding: 10px;
}

.event-select-component select {
  width: 100%;
  height: 35px;
  font-family: 'Inter';
}