.organization_profile_component {}

.organization_profile_component .header {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px 25px;
  grid-column-gap: 10px;
  grid-template-areas:
    "avatar name"
    "avatar role";
}

.organization_profile_component .header .avatar {
  background-color: red;
  width: 50px;
  height: 50px;
  grid-area: avatar;
}

.organization_profile_component .header .name {
  font-size: 1.7em;
  font-family: "Inter-Bold";
  grid-area: name;
}

.organization_profile_component .header .role {
  font-family: "Inter-ExtraLight";
  grid-area: role;
}