.main-class {
  min-width: 500px;
}

.title-component {
  font-family: 'Inter-Bold';
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-component .action {
  font-family: 'Inter-Bold';
  font-size: 12px;
}